*{
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: .1rem .1rem 2px rgba(0, 0, 0, 0.3);
}

.caption {
    text-align: center;
    margin: 30px auto;
}

.select {
    margin: 30px auto;
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

#semana{
    font-weight: initial;
}

#mes{
    font-weight: bold;
}

.select i {
    font-size: 40px;
    color: seagreen;
}

.arvore {
    position: relative;
    justify-content: center;
    align-items: center;    
    margin-top: 10px;
    display: flex;
    margin: 10px auto;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid seagreen;
    border-radius: 10px;
    transition: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
}

.card:hover {
    box-shadow: .3rem .3rem 2px rgba(0, 0, 0, 0.4);
}

.card-info {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-info h3 {
    font-size: 12px;
}

.card-info h2 {
    color: red;
    font-size: 30px;
    margin-top: 5px;
}

.card-info h1 {
    font-family: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img-wrapper img {
    width: 100px;
    height: auto;
    margin: 20px;
}

#fechar{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 25px;
    color: seagreen;
}

input[type="number"]{
    display: none;
    width: 40px;
    height: 50px;
    font-size: 25px;
}